<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Sobre</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	</head>
	<body>
	<ul>
		<li><a href="{{ url_for('index') }}">Play</a></li>
		<li><a href="{{ url_for('how_to') }}">How to Play</a></li>
		<li><a href="{{ url_for('about') }}">About</a></li>
	</ul> 
		<h1 align="center">Quantum State</h1>
		<h3 align="center">João Gabriel Segato Kruse</h3>
		<p>This game was created using qiskit and flask libraries for python and is still under development.</p>
	</body>
</html>
